.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 1em;
    color: white;
}

.App-title {
    margin-bottom: 0;
    font-size: 2em;
}

.App-intro {
    font-size: large;
}

.holder {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    margin-top: 1em;
    width: 40em;
}
