.list-item {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  display: flex !important;
}

.list-item p {
  font-size: 1.5em;
  margin: 0;
  cursor: pointer;
  height: 100%;
}

.title-holder {
  flex-grow: 1;
  margin-right: 0.5em;
  text-align: left;
}

.action-buttons {
  float: right;
}

.action-buttons button:hover {
  animation-name: hover;
  animation-duration: 0.3s;
}

@keyframes hover {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.completed-todo {
  opacity: 0.5;
  cursor: default !important;
}
