.list-item {
  animation-name: create;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  display: flex !important;
}

@keyframes create {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}

.deleted-item {
  animation-name: delete;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes delete {
  0% { transform: translate(0) }
  100% { transform: translate(-200%) }
}

.list-item p {
  font-size: 1.5em;
  margin: 0;
  cursor: pointer;
  height: 100%;
}

.title-holder {
  flex-grow: 1;
  margin-right: 0.5em;
  text-align: left;
}

.action-buttons {
  float: right;
}

.action-buttons button:hover {
  animation-name: rotate;
  animation-duration: 0.3s;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(7deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-7deg); }
  100% { transform: rotate(0deg); }
}

.completed-todo {
  opacity: 0.5;
  cursor: default !important;
}
